.navbar{
    background-color: #9be15d ;
}
.masthead{
    background-color: #c8e993;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.device-button{
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.masthead-device-mockup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    content: "";
    width: 375px;
    height: 375px;
    background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    border-radius: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.circle-2{
    content: "";
    width:250px;
    height: 250px;
    background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
   

}
.img-phone-2{
    max-width: 100%;
    margin-left: 50px;
    margin-right: -20px;

}
.circle-2::before{
    content: "🟢";
    position: absolute;
    left: -20px;
    bottom: 0;
    color: #00e3ae ;
    font-size: 20px;
    transform: rotate(45deg);
   
}
.circle-2::after{
    content: "🟩";
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    color: #00e3ae ;
    margin-right: -100px;
    margin-top: -25px;
    transform: rotate(30deg);
   
}
.circle::before{
    content: "🟩";
    position: absolute;
    color: #00e3ae ;
    font-size: 20px;
    left: 0;
    bottom: 0;
    transform: rotate(-40deg);
}
.circle::after{
    content: "🟢";
    position: absolute;
    color: #00e3ae ;
    font-size: 20px;
    right: 0;
    top: 0;
    transform: rotate(40deg);
}
.img-phone-1{
    max-width: 60%;
}
.bg-testimonial{
    background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}
.purple-icon{
    color: #00e3ae
}
.bg-gray{
    
    background-color: #c8e993;
    padding-top: 10%;
    padding-bottom: 10%;
}
.bg-light h1{
    color:  #00e3ae;
}
.fitness-img{
    width: 100%;
    border-radius: 100%;
    border-style: solid;
    border-color: #00e3ae;
}
.bg-light a:hover{
    color: rgb(44, 42, 42);
    background-color: #00e3ae;
}

